# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
archive/
objects/
pix/
.idea/

# Dont include python virtual environment in git repo
venv/

# Dont include output files in git repo
objects/
